body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
}

.bs1 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}

p {
  margin: 5px !important;
  text-align: left;
  padding: 0;
}

.btn1 {
  box-shadow: none !important;
  background-color: white !important;
  color: orangered !important;
  border: 1px solid orangered;
  padding: 5px !important;
  outline: none !important;
}

.btn1 a{
  color: orangered !important;
  background-color: white;
}


.btn:focus {
  border: none !important;
}

button {
  padding: 3px 10px !important;
}

.header {
  padding: 10px;
  background-color: white;
}


.header .ant-btn {
  box-shadow: none !important;
  background-color: white !important;
  color: orangered;
  border: 1px solid orangered;
  padding: 5px !important;
  outline: none !important;
}

.content {
  min-height: 90vh;

}

.carimg {
  height: 180px;
  width: auto;
  border-radius: 5px;

}

.login {
  background-color: black;
  min-height: 100vh;
  padding-top: 20px;
  
}

.login label,
.login h1 {
  color: white !important;
  opacity: 0.6;
}


.login-form {
  background-color: #1F1F1F;
}

.login-form input {
  background-color: #3333;
  border: none !important;
  color: white;
  opacity: 0.5;
}

.login img {
  height: 100vh;
  width: auto;
  /* overflow:hidden; */
}

.login-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 50%;
  transform: translateY(-50%, -50%);
  font-size: 40px;
  opacity: 0.8 !important;

}

.login a {
  color: white;
  opacity: 0.5;
}

.carimg2 {
  height: 400px;
  border-radius: 10px;
  width: auto;
}